NET "DRIVER_L[0]" LOC = P2;
NET "DRIVER_L[1]" LOC = P3;
NET "DRIVER_L[2]" LOC = P4;
NET "DRIVER_R[0]" LOC = P5;
NET "UNKNOWN_6" LOC = P6;
NET "DRIVER_R[1]" LOC = P7;
NET "DRIVER_R[2]" LOC = P8;
NET "DRIVER_XERR" LOC = P10;
NET "UNKNOWN_12" LOC = P12;
NET "DRIVER_L[3]" LOC = P14;
NET "DRIVER_L[4]" LOC = P15;
NET "DRIVER_L[5]" LOC = P16;
NET "DRIVER_R[3]" LOC = P17;
NET "UNKNOWN_18" LOC = P18;
NET "DRIVER_R[4]" LOC = P20;
NET "DRIVER_R[5]" LOC = P21;
NET "DRIVER_CAL" LOC = P22;
NET "CPLD_PIN_44" LOC = P23;
NET "CPLD_PIN_6" LOC = P24;
NET "I2C_SCL" LOC = P25;
NET "I2C_SDA" LOC = P26;
NET "UNKNOWN_29" LOC = P29;
NET "SRAM_CE" LOC = P31;
NET "DRIVER_XLAT" LOC = P32;
NET "DRIVER_MODE" LOC = P33;
NET "DRIVER_BLANK" LOC = P34;
NET "SRAM_OE" LOC = P35;
NET "UNKNOWN_36" LOC = P36;
NET "UNKNOWN_38" LOC = P38;
NET "LT1933_ENABLE" LOC = P39;
NET "UNKNOWN_40" LOC = P40;
NET "UNKNOWN_41" LOC = P41;
NET "SRAM_BHE" LOC = P43;
NET "SRAM_BLE" LOC = P44;
NET "UNKNOWN_47" LOC = P47;
NET "UNKNOWN_48" LOC = P48;
NET "FSM_D[7]" LOC = P50;
NET "FSM_D[6]" LOC = P51;
NET "FSM_D[5]" LOC = P52;
NET "FSM_D[4]" LOC = P53;
NET "FSM_D[3]" LOC = P54;
NET "OSC_40" LOC = P56;
NET "UNKNOWN_57" LOC = P57;
NET "FSM_D[2]" LOC = P58;
NET "FSM_D[1]" LOC = P59;
NET "LED_YELLOW" LOC = P60;
NET "LED_RED" LOC = P62;
NET "FSM_D[0]" LOC = P63;
NET "FSM_A[20]" LOC = P66;
NET "FSM_A[19]" LOC = P67;
NET "FSM_A[18]" LOC = P68;
NET "UNKNOWN_69" LOC = P69;
NET "FSM_A[17]" LOC = P70;
NET "LED_ORANGE" LOC = P71;
NET "FSM_A[16]" LOC = P74;
NET "FSM_A[15]" LOC = P75;
NET "FSM_A[14]" LOC = P76;
NET "FSM_A[13]" LOC = P77;
NET "UNKNOWN_78" LOC = P78;
NET "FSM_A[12]" LOC = P81;
NET "FSM_A[11]" LOC = P82;
NET "FLASH_RESET" LOC = P83;
NET "UNKNOWN_84" LOC = P84;
NET "FSM_A[10]" LOC = P85;
NET "FSM_A[9]" LOC = P86;
NET "FSM_A[8]" LOC = P87;
NET "FSM_A[7]" LOC = P88;
NET "UNKNOWN_89" LOC = P89;
NET "FSM_A[6]" LOC = P91;
NET "FSM_A[5]" LOC = P92;
NET "FSM_A[4]" LOC = P93;
NET "FSM_A[3]" LOC = P94;
NET "UNKNOWN_95" LOC = P95;
NET "FSM_A[2]" LOC = P96;
NET "FSM_A[1]" LOC = P97;
NET "FSM_A[0]" LOC = P98;
NET "UNKNOWN_101" LOC = P101;
NET "FSM_WE" LOC = P103;
NET "FLASH_CE" LOC = P104;
NET "FLASH_OE" LOC = P105;
NET "UNKNOWN_106" LOC = P106;
NET "FLASH_RYBY" LOC = P107;
NET "FAN_TACHOMETER" LOC = P111;
NET "INPUT_CONN_PIN_5" LOC = P112;
NET "INPUT_CONN_PIN_4" LOC = P113;
NET "UNKNOWN_114" LOC = P114;
NET "INPUT_CONN_PIN_7" LOC = P116;
NET "INPUT_CONN_PIN_2" LOC = P117;
NET "INPUT_CONN_PIN_8" LOC = P119;
NET "INPUT_CONN_PIN_3" LOC = P120;
NET "UNKNOWN_122" LOC = P122;
NET "CPLD_PIN_8" LOC = P123;
NET "CPLD_PIN_3" LOC = P124;
NET "CPLD_PIN_2" LOC = P125;
NET "CPLD_PIN_5" LOC = P126;
NET "OUTPUT_CONN_PIN_5" LOC = P128;
NET "OUTPUT_CONN_PIN_8" LOC = P129;
NET "OUTPUT_CONN_PIN_7" LOC = P130;
NET "OUTPUT_CONN_PIN_4" LOC = P131;
NET "CPLD_PIN_43" LOC = P132;
NET "OUTPUT_CONN_PIN_3" LOC = P134;
NET "OUTPUT_CONN_PIN_6" LOC = P135;
NET "UNKNOWN_136" LOC = P136;
NET "DRIVER_SCLK" LOC = P139;
NET "DRIVER_GSCLK" LOC = P140;
NET "UNKNOWN_141" LOC = P141;
NET "CPLD_PIN_42" LOC = P142;
NET "CPLD_PIN_41" LOC = P143;